*, *::before, *::after {
  box-sizing: border-box;
}

:root{
  --clr-bg: #83ffff;
}

.App{
  padding: 1rem;
  border: 3px #096a83 solid;
  border-radius: 1rem;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: var(--clr-bg);
  color:#000000;
}

#title{
  font-size: 4rem;
  font-weight: 500;
}
button{
  height: 2rem;
  border-radius: .7rem;
  border: 3px solid #096a83;
  background-color: var(--clr-bg);
  cursor: pointer;

}
button:hover{
  background-color: #096a83;
}

.setup-controls-container{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.break-container{
  display: flex;
  flex-direction: column;
  
}
.buttons-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.session-container{
  display: flex;
  flex-direction: column;
}
